:root {
  --dark-bg-color: hsl(207, 26%, 17%);
  --article-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--dark-bg-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

body.light-theme {
  background-color: #dfdfdf;
  color: var(--light-mode-text);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
}

header.light-theme {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

.filter {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.filter .form-control {
  width: 100%;
}

.filter .form-control input {
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}

.filter .region-filter {
  width: 100%;
}

.filter .region-filter .select {
  background-color: #2b3743;
  color: white;
  font-family: inherit;
  padding: 12px;
  width: 200px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.filter .form-control input::placeholder {
  color: white;
}

.filter .form-control input.light-theme,
#select.light-theme {
  background-color: var(--light-mode-input);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}

.grid article {
  box-shadow: 0 10px 10px rgba(18, 24, 29, 0.5);
}

.grid article img {
  border-radius: 4px 4px 0 0;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.grid .info h3 {
  padding-bottom: 10px;
}

.grid .info h4 {
  padding-bottom: 5px;
}

.grid .info h4 span {
  font-weight: 300;
}

.grid article.light-theme {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

.info {
  background-color: transparent;
  padding: 40px 20px;
  margin-top: -20px;
  border-radius: 0 0 4px 4px;
}

.country.light-theme {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

.fa-moon {
  cursor: pointer;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .filter {
    flex-direction: row;
    justify-content: space-between;
  }

  .filter .form-control {
    width: auto;
  }
  .filter .form-control input {
    width: auto;
    margin: 0;
  }

  .filter .region-filter {
    width: auto;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .header,
  .filter,
  .grid {
    padding: 20px 100px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}
